#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Seated combat regeneration configuration
########################################
#
#    SeatedCombatRegen.Enable
#        Description: Enable the seated combat regeneration mod
#        Default:     0 - Disabled
#                     1 - Enabled
#
#    SeatedCombatRegen.TimerSeconds
#        Description: Sets the seated combat regeneration timer in seconds that the player must remain seated in order to exit combat state
#        Default:     30 - Seconds
#

SeatedCombatRegen.Enable = 1
SeatedCombatRegen.TimerSeconds = 30


########################################
# Mounting allowed configuration
########################################
#
#    SeatedCombatRegen.MountOverride.Enable
#        Description: Enables allowing mount spell casts in configured areas
#                     where AzerothCore would normally reject mounting.
#        Default:     1
#

SeatedCombatRegen.MountOverride.Enable = 1

#
#    SeatedCombatRegen.MountOverride.AreaIds
#        Description: Comma-separated area or zone IDs where mount casts should
#                     be allowed even if the core normally rejects mounting.
#                     The check compares against both Player::GetAreaId()
#                     and Player::GetZoneId().
#        Example:     876,877,12
#        Default:
#

SeatedCombatRegen.MountOverride.AreaIds = 

#
#    SeatedCombatRegen.MountOverride.Message
#        Description: Optional message sent to the player when the module allows
#                     mounting in an overridden area.
#        Default:     Mounting is allowed in this area.
#

SeatedCombatRegen.MountOverride.Message = 
